In [1]:
#Import python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os
import warnings

In [2]:
#load the data
data = pd.read_csv('../data/BTC-USD.csv')

In [3]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-10-11,54734.125000,57793.039063,54519.765625,57484.789063,57484.789063,42637331698
1,2021-10-12,57526.832031,57627.878906,54477.972656,56041.058594,56041.058594,41083758949
2,2021-10-13,56038.257813,57688.660156,54370.972656,57401.097656,57401.097656,41684252783
3,2021-10-14,57372.832031,58478.734375,56957.074219,57321.523438,57321.523438,36615791366
4,2021-10-15,57345.902344,62757.128906,56868.144531,61593.949219,61593.949219,51780081801

In [4]:
#list of columns
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
Date         366 non-null object
Open         366 non-null float64
High         366 non-null float64
Low          366 non-null float64
Close        366 non-null float64
Adj Close    366 non-null float64
Volume       366 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB